body{
   /* font-size: 1.2rem; */
   font-size: 1.3vw;
}

img{
   margin: 7px 25px 7px 0;
   float:left;
   width: 50%;
}

.special{
   font-style: italic;
   text-align: center;
   margin: 3% 10% 3% 10%;
   padding: 3% 2% 3% 2%;
   line-height: 1.5;
   font-size: calc(1.3rem + 0.5vw);
   position:sticky;
   /* border-left: 1px solid black;
   border-right: 1px solid black; */
}
p{
   line-height: 1.5;
   margin: 3% 25% 0% 25%;
}

h4{
   margin-top: 7%;
   font-size: calc(1.4em + 0.5vw);
   margin-bottom: 2%;
   margin: 5% 25% 0% 25%;
}

h1{
   font-size: calc(3.4em + 0.5vw);
   margin: 5% 25% 0% 25%;
}

div{
   display: flex;
   flex-direction: column;
   margin: 5% 25% 0% 25%;
}
a:hover{
   color: blue;
}
a{
   padding: 0.5% 0 0.5% 0;
   text-decoration: none;
}
cite{
   font-style: normal;
   padding-top: 2%;
}
blockquote{
   display: flex;
   flex-direction: column;
}

.space{

}